.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  flex-wrap: wrap;
  background-color: rgb(47, 193, 237);
  background: linear-gradient(
    270deg,
    rgb(0, 41, 68) 0%,
    rgba(146, 195, 244, 1) 98%,
    rgba(137, 205, 250, 0.958) 50%
  );
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.btn {
  margin: 20px;
}

.header {
  margin: 10px;
}
